* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #2e2e2e;
}

header {
  height: 100vh;
  background-image: url("smoke-background.jpg");
  background-size: cover;
  position: relative;
  color: white;
}

header img {
  width: 20rem;
  max-width: 65%;
}

form {
  max-width: 350px;
}

input.dark {
  background-color: #131313;
  border: 2px solid #131313;
  color: white;
}

input.dark:focus {
  background-color: #131313;
  border: 2px solid #131313;
  color: white;
  outline: none;
}

input.calculated {
  box-shadow: 0 0 5px 5px #f1e26f;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  position: absolute;
}

.general-button {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #f1e26f;
  color: #f1e26f;
  border-radius: 1.25rem;
}

.general-button.selected {
  background-color: #f1e26f;
  border: 2px solid #f1e26f;
  color: black;
}

.general-button:hover,
.general-button:focus {
  background-color: #d8c641;
  border: 2px solid #d8c641;
  color: black;
  outline: none;
}

.units-button {
  width: 5rem;
  height: 2.5rem;
}

.units-question {
  font-size: 0.8rem;
  width: 1.25rem;
  height: 1.25rem;
  border: 2px solid #f1e26f;
  border-radius: 50%;
  color: #f1e26f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.units-question:hover,
.units-question:focus {
  cursor: pointer;
  background-color: #d8c641;
  color: black;
  outline: none;
}

.safe-shooting {
  color: #f1e26f;
  text-decoration: underline;
}

.safe-shooting:hover {
  cursor: pointer;
  color: #d8c641;
}

.data-tabs-cont {
  min-height: 100vh;
  color: #f1e26f;
}

.tab-button {
  width: 15rem;
  height: 2.5rem;
}

.ballistics-table {
  font-size: 0.8rem;
  width: 100%;
  color: white;
}

.ballistics-table th {
  width: calc(100% / 3);
}

.ballistics-table tbody > tr:nth-child(odd) {
  background-color: #515151;
}

@media (min-width: 576px) {
  .ballistics-table {
    font-size: 1rem;
  }
}
